<section class="bar background-white no-mb home-email-signup">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="followit-brand-card">
          <div class="heading text-center">
            <h2>Email Updates</h2>
          </div>
          <p class="email-signup-intro text-center">Get class and news alerts when new posts are published.</p>

          <div class="followit--follow-form-container" attr-a attr-b attr-c attr-d attr-e attr-f>
            <form action="https://api.follow.it/subscription-form/bzJrQmxVbTlNTm5tQ2V4eUFKTVVLU09lOSttUVZsTjY0OHFVMFJtYng1bHJncXg2YlNYV2pFK2dRWGsxZVhwSlZndFk3VlFHTVVpSnVqbEs3Zjl0VzZzcUdRMDRzSCtqK1B3WlNKc3g3VHJ4eDdTelZiNi80U3BORkgvRjVVeWp8Ny9RZ1NwemZmVVdCbnJUVEdtdlNWSGRISnBObk1MSHVCc0hSNytTQUF1cz0=/8" method="post">
              <div class="form-preview">
                <div class="preview-heading">
                  <h5>Get new posts by email:</h5>
                </div>
                <div class="preview-input-field">
                  <input type="email" name="email" required placeholder="Enter your email" spellcheck="false" />
                </div>
                <div class="preview-submit-button">
                  <button type="submit">Subscribe</button>
                </div>
              </div>
            </form>
            <a href="https://follow.it" class="powered-by-line">Powered by <img src="https://follow.it/images/colored-logo.svg" alt="follow.it" height="17" /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
